<template>
    <div id="layout">
        <v-navigation-drawer app clipped class="leftBar" v-model="drawer.open"  width="250px">
            <Leftbar :categories="categories" :drawer="drawer" :tasks="tasks"/>
        </v-navigation-drawer>
        <Topbar :drawer="drawer" :tasks="tasks" :tokenDecoded="tokenDecoded" ></Topbar>
        <Maincontent
                :categories="categories"
                :drawer="drawer"
                :tasks="tasks"
        ></Maincontent>
    </div>
</template>

<script>
  /* eslint-disable */
  import Topbar from '../components/Bars/Topbar.vue'
  import Leftbar from '../components/Bars/Leftbar.vue'
  import Maincontent from '../components/Maincontent.vue'

  export default {
    name: 'Layout',
    components: {
      Topbar,
      Leftbar,
      Maincontent
    },
    data () {
      return {
        tasks: [],
        categories: [],
        startDate: '',
        endDate: '',
        tokenDecoded: [],
        drawer: {
          open: true,
          clipped: true,
          fixed: false,
          permanent: false,
          mini: false
        },
        toolbar: {
          //
          fixed: true,
          // sets if the toolbar contents is leaving space for drawer (false) or not (true)
          clippedLeft: true
        },
        footer: {
          fixed: false,
          clippedLeft: true
        }
      }
    },
    mounted () {
      this.$store.commit('setPositionsList',[]);
      if(this.memberConnected()){
        this.getCheckAccess()
      }
      else{
        this.$router.push("/signin")
      }
      

      const tokenDecoded = this.parseJwt(this.$store.state.token)
      if (tokenDecoded) {
        this.tokenDecoded = tokenDecoded
      }

      this.$bus.$on('updTasks', () => {
        this.getTasks()
      })

      this.$bus.$on('updCategories', () => {
        this.getCaregories()
      })
    },
    methods: {

      getCheckAccess(){
        this.$store.commit('setLoading', true);
        window.axios
          .get('checkaccess')
          .then(response => {
            this.getTasks()
            this.getCaregories()
          })
          .catch(error => {
            this.$router.push("/signin")
          })
      },

      getTasks () {

        this.$store.commit('setLoading', true);
        window.axios
          .get('tasks')
          .then(response => {
            this.$store.commit('setPositionsList',[]);
            this.tasks = response.data;
            this.$store.commit('setLoading', false);
          })
          .catch(error => {
            this.$store.commit('setLoading', false);
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          })
      },
      getCaregories () {
        this.$store.commit('setLoading', true);
        window.axios
          .get('categories')
          .then(response => {
            this.categories = response.data;
            this.$store.commit('setLoading', false);
          })
          .catch(error => {
            this.$store.commit('setLoading', false);
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          })
      },
      // changes the drawer to permanent
      makeDrawerPermanent () {
        this.drawer.permanent = true
        // set the clipped state of the drawer and toolbar
        this.drawer.clipped = false
        this.toolbar.clippedLeft = false
      },
      // toggles the drawer variant (mini/full)
      toggleMiniDrawer () {
        this.drawer.mini = !this.drawer.mini
      },
      // toggles the drawer type (permanent vs temporary) or shows/hides the drawer
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    #layout {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas: "topBar topBar"
                             "leftbar  main";
        grid-template-columns: 250px auto;
        grid-template-rows: 70px auto;
        font-family: Lato;

        .leftBar{
          background-color: #204177;
        }
    }



    @media print {
        @page {
            size: landscape;
        }

        #layout {
          .leftBar{
            display: none;
          }
          grid-template-areas: "main";
          grid-template-columns: 100vw;
          grid-template-rows: 90vh;
          -webkit-print-color-adjust: exact;
        }
    }
</style>
