<template>
    <v-card>

      <!-- Header -->
        <v-toolbar color="primary" dark>
            <v-toolbar-title>Ajouter une categorie</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- Bouton de fermeture de la modal -->
            <v-btn @click="closeModal" icon>
                <i class="fas fa-times" style="font-size: 1.5em;"></i>
            </v-btn>
        </v-toolbar>

        <!-- Main -->
        <v-card-text>
            <v-form lazy-validation ref="form" v-model="valid">
                <v-container grid-list-md>
                    <!-- Nom -->
                    <v-layout wrap>
                        <v-flex md12 xs12>
                            <v-text-field :rules="[rules.required]" clearable hint="Par exemple, travail"
                                          label="Nom" v-model="newCategory.name"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>

                    <!-- Couleur -->
                    <v-item-group v-model="newCategory.color">
                        <v-container fill-height align-content-center justify-center>
                            <v-layout row wrap>
                                <v-flex :key="index" md2 sm4 v-for="(color, index) in colors" xs6>
                                    <v-item>
                                        <v-card
                                                :color="color"
                                                @click="toggle"
                                                class="d-flex align-center text-xs-center"
                                                dark
                                                height="60"
                                                slot-scope="{ active, toggle }"
                                                style="border-radius:50%"
                                                width="60"

                                        >
                                            <v-scroll-y-transition>
                                                <div class="display-1" v-if="active">
                                                    <i class="fas fa-check"></i>
                                                </div>
                                            </v-scroll-y-transition>
                                        </v-card>
                                    </v-item>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-item-group>
                </v-container>
            </v-form>

            <!-- Bouton Annuler/Ajouter -->
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="error"
                        flat
                        @click="closeModal"
                >
                    Annuler
                </v-btn>

                <v-btn @click="addCategory" block color="accent" dark>Ajouter</v-btn>
            </v-card-actions>

        </v-card-text>
    </v-card>
</template>

<script>
  export default {
    name: 'AddCategory',
    props: ['colors', 'drawer'],
    data () {
      return {
        snackbar: false,

        /* Règles des champs obligatoires */
        rules: {
          required: value => !!value || 'Obligatoire'
        },

        /* Objet de la nouvelle categorie */
        newCategory: {
          name: '',
          color: ''
        },

        /* Validation du formulaire */
        valid: false,
      }
    },
    methods: {

      /** Méthode toggleDrawer
       * Affichage en mode mobile, ferme la leftbar pour
       * eviter les conflits visuel
        */
      toggleDrawer () {
        if (this.drawer.permanent) {
          this.drawer.permanent = !this.drawer.permanent
          // Ferme la leftbar le temps de l'affichage de la modal
          this.drawer.clipped = true
        } else {
          // Affichage normal de la leftbar
          this.drawer.open = !this.drawer.open
        }
      },

      /** Méthode closeModal
       * Ferme la modal et reinitialise le formualire
        */
      closeModal () {
        this.$emit('close')
        this.resetForm()
        this.toggleDrawer();
      },

      /** Méthode resetForm
       * Réinitialise le formulaire
        */
      resetForm () {
        this.$refs.form.reset()
      },

      /** Méthode addCategory
       * Ajoute une categorie
        */
      addCategory () {
        this.$refs.form.validate()
        let index = this.newCategory.color
        window.axios
          .post('categories', {
            name: this.newCategory.name,
            color: this.colors[index]
          })
          .then(response => {
            this.$store.commit('setError', false);
            this.closeModal();
            this.updateCategories();
            this.updateTasks();

            this.$store.commit('setSuccess', true);
            this.$store.commit('setSuccessMsg', "La catégorie est ajoutée");
          })
          .catch(error => {
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          })
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
