<template>
    <v-card>
        <!-- Header -->
        <v-toolbar :class="detailCategory.color" dark>
            <v-toolbar-title>{{detailCategory.name}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-dialog max-width="40%" persistent v-model="dialogConfirm">
                <template slot="activator">
                    <v-btn icon>
                        <i class="fas fa-trash-alt" style="font-size: 1.5em;"></i>
                    </v-btn>
                </template>
                <dialog-confirm msg="Si vous supprimez cette catégorie, les tâches associées seront également supprimées." @close="dialogConfirm = false" @confirmDelete="deleteCategory"></dialog-confirm>
            </v-dialog>
            <v-btn @click="closeModal" icon>
                <i class="fas fa-times" style="font-size: 1.5em;"></i>
            </v-btn>
        </v-toolbar>

        <!-- Main -->
        <v-card-text>
            <v-form lazy-validation ref="form">
                <v-container grid-list-md>

                  <!-- Nom -->
                    <v-layout wrap>
                        <v-flex md12 xs12>
                            <v-text-field clearable hint="Par exemple, travail"
                                          label="Nom" v-model="detailCategory.name"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>

                    <!-- Couleur -->
                    <v-item-group v-model="detailCategory.indexColor">
                        <v-container grid-list-xl justify-space-between>
                            <v-layout wrap>
                                <v-flex :key="index" md2 sm4 v-for="(color, index) in colors" xs6>
                                    <v-item>
                                        <v-card
                                                :color="color"
                                                @click="toggle"
                                                class="d-flex align-center"
                                                dark
                                                height="60"
                                                slot-scope="{ active, toggle }"
                                                style="border-radius:50%"
                                                width="60"
                                        >
                                            <v-scroll-y-transition>
                                                <div class="display-1" v-if="active">
                                                    <i class="fas fa-check"></i>
                                                </div>
                                            </v-scroll-y-transition>
                                        </v-card>
                                    </v-item>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-item-group>
                </v-container>
            </v-form>

            <!-- Bouton Annuler/Modifier -->
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                        color="error"
                        flat
                        @click="closeModal"
                >
                    Annuler
                </v-btn>

                <v-btn @click="editCategory" block color="accent" dark>Modifier</v-btn>
            </v-card-actions>

        </v-card-text>
    </v-card>
</template>
<script>
  import DialogConfirm from '@/components/DialogConfirm.vue'

  export default {
    name: 'EditCategory',
    props: ['colors', 'detailCategory', 'drawer'],
    components: {
      DialogConfirm
    },
    data () {
      return {
        snackbar:false,

        /* Vérifiction 2nd de suppréssion de la categorie et de ses taches */
        dialogConfirm: false,
      }
    },
    methods: {

      /** Méthode toggleDrawer
       * Affichage en mode mobile, ferme la leftbar pour
       * eviter les conflits visuel
        */
      toggleDrawer () {
        if (this.drawer.permanent) {
          this.drawer.permanent = !this.drawer.permanent
          // Ferme la leftbar le temps de l'affichage de la modal
          this.drawer.clipped = true
        } else {
          // Affichage normal de la leftbar
          this.drawer.open = !this.drawer.open
        }
      },

      /** Méthode deleteCategory
       * Suppression de la categorie et de ses taches
        */
      deleteCategory () {
        if (this.detailCategory.default === 1) {
          this.snackbar=true;
        } else {
          window.axios.delete('categories/' + this.detailCategory.categoryId
          ).then((response) => {
            this.$store.commit('setError', false);
            this.closeModal()

            this.$store.commit('setSuccess', true);
            this.$store.commit('setSuccessMsg', "La categorie est supprimée");
          }).catch((error) => {
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          })
        }
      },

      /** Méthode closeModal
       * Ferme la modal et met à jour les categories et les taches
       */
      closeModal () {
        this.$emit('close')
        this.updateCategories()
        this.updateTasks()
        this.toggleDrawer()
      },

      /** Méthode editCategory
       * Modifie la categorie
        */
      editCategory () {
        let theputocolor = this.colors[this.detailCategory.indexColor]
        window.axios.patch('categories/' + this.detailCategory.categoryId, {
          name: this.detailCategory.name,
          color: theputocolor
        }).then((response) => {
          this.$store.commit('setError', false);
          this.updateCategories()
          this.updateTasks()
          this.closeModal()

          this.$store.commit('setSuccess', true);
          this.$store.commit('setSuccessMsg', "La categorie est modifiée");
        }).catch((error) => {
          this.$store.commit('setError', true);
          this.$store.commit('setErrorMsg', error.response.data.message);
        })
      },
    }
  }
</script>

<style lang="scss" scoped>
</style>
