<template>
    <div>
        <v-list class="transparent " dark dense subheader two-line>
            <v-subheader class="white--text pa-0 "><h2>Categories</h2>
                <v-spacer></v-spacer>
                <v-btn @click="openAddCat" dark icon small>
                    <i class="fas fa-plus v-icon" style="font-size: 1.5em;"></i>
                </v-btn>
            </v-subheader>
            <v-list-tile :class="category.category.color + ' cat'" @click="viewCategory(category.category)"
                         v-for="category in categories.categories">
                <v-list-tile-content>
                    <v-list-tile-title class="text-capitalize">{{category.category.name}}</v-list-tile-title>
                    <v-list-tile-sub-title>
                        <v-avatar class="red darken-3" size="15"><b>{{ category.priorities.prio1 }}</b>
                        </v-avatar>&af;
                        <v-avatar class="yellow darken-3" size="15"><b>{{ category.priorities.prio2 }}</b>
                        </v-avatar>&af;
                        <v-avatar class="green darken-3" size="15"><b>{{ category.priorities.prio3 }}</b>
                        </v-avatar>&af;
                    </v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <i @click="editToggle(category, true)" class="fas fa-eye-slash v-icon"
                       style="font-size: 1.2em;"
                       v-if="!category.category.toggle"
                       v-on:click.stop></i>
                    <i @click="editToggle(category, false)" class="fas fa-eye v-icon" style="font-size: 1.2em;" v-else
                       v-on:click.stop></i>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>

        <v-dialog :fullscreen="$vuetify.breakpoint.smAndDown" lazy max-width="40%" persistent v-model="dialog">
            <AddCategory :drawer="drawer" :colors="colors" @close="dialog = false"/>
        </v-dialog>

        <v-dialog :fullscreen="$vuetify.breakpoint.smAndDown" lazy max-width="40%" persistent v-model="dialogEdit">
            <EditCategory :drawer="drawer" :colors="colors" :detailCategory="detailCategory" @close="dialogEdit = false"/>
        </v-dialog>
    </div>
</template>
colors: ['purple', 'blue', 'teal', 'indigo', 'deep-orange', 'blue-grey'],

<script>
  import AddCategory from '@/components/Category/AddCategory'
  import EditCategory from '@/components/Category/EditCategory'

  export default {
    name: 'ListCategories',
    props: ['categories', 'drawer'],
    components: {
      AddCategory,
      EditCategory
    },
    data () {
      return {
        colors: ['blue', 'light-green', 'deep-orange lighten-2', 'deep-orange', 'purple', 'blue-grey'],
        viewAddCategory: false,
        viewEditCategory: false,
        detailCategory: {},
        dialog: false,
        dialogEdit: false,
      }
    },
    methods: {
      openAddCat () {
        this.toggleDrawer()
        this.dialog = true
      },
      toggleDrawer () {
        if (this.drawer.permanent) {
          this.drawer.permanent = !this.drawer.permanent
          // set the clipped state of the drawer and toolbar
          this.drawer.clipped = true
        } else {
          // normal drawer
          this.drawer.open = !this.drawer.open
        }
      },

      /** Methode toggleAddCategory
       * toggle modal AddCategory
       */
      toggleAddCategory (toggle) {
        this.viewAddCategory = toggle
      },
      /** Methode toggleViewCategory
       * toggle modal edit category
       */
      toggleEditCategory (toggle) {
        this.viewEditCategory = toggle
      },

      /** Methode viewCategory
       * open modal edit category
       */
      viewCategory (category) {
        this.detailCategory = category
        this.detailCategory.indexColor = this.colors.findIndex(function (color) {
          return color === category.color
        })
        this.toggleEditCategory(true)
        if (this.detailCategory.default !== 1) {
          this.toggleDrawer()
          this.dialogEdit = true
        }
      },

      /** Methode editToggle
       * toggle view category selected and his tasks
       */
      editToggle (category, toggle) {
        this.$store.commit('setLoading', true);
        category.category.toggle = toggle;

        window.axios
          .patch('categories/' + category.category.categoryId, {
            toggle: toggle
          })
          .then(response => {
            this.$store.commit('setLoading', false);
            this.$store.commit('setError', false);
            this.updateTasks();
          })
          .catch(error => {
            this.$store.commit('setError', true);
            this.$store.commit('setErrorMsg', error.response.data.message);
          });
      }
    }
  }
</script>

<style lang="scss" scoped>
    .cat {
        border-radius: 3px;
        margin: 1.5% 0;
    }
</style>

