<template>
    <div>
        <v-card>
            <!-- Header -->
            <v-toolbar card height="60px">
                <!-- Nom je jour selectionné -->
                <v-toolbar-title class="text-capitalize">
                    {{dayName}} {{dayNumber}}
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon  @click="$emit('closeDialogMoreTasks')">
                    <i class="fas fa-times" style="font-size: 1.2em;"></i>
                </v-btn>
            </v-toolbar>

            <!-- Main -->
            <v-container fluid grid-list-sm>
                <v-layout  column >
                    <!-- Liste des taches du jour selectionné -->
                    <v-flex xs12 v-for="task in tasksForCase">
                        <v-card  dark
                                elevation=5
                                :color="task.category.color"
                                class="pointer"
                                @click="viewDetailTask(task)" >
                            <v-card-text class="text-truncate text-xs-left">
                                {{task.title}}
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>

        </v-card>
        <transition name="fade">
            <!-- Détail d'une tache -->
            <v-dialog v-model="displayDetailTask"  persistent max-width="60%" :fullscreen="$vuetify.breakpoint.smAndDown" lazy>
                <ViewTask v-if="displayDetailTask" :categories="categories" :detailTask="detailTask" @toggleViewDetailTask="toggleViewDetailTask"/>
            </v-dialog>
        </transition>
    </div>
</template>

<script>
    import ViewTask from '@/components/Task/ViewTask.vue';

    export default {
        name: "DialogMoreTasks",
        props: ['tasksForCase', 'dateCase', 'categories'],
        components: {
            ViewTask
        },
        data() {
            return {
                /* Détail du jour */
                dayName:"",
                dayNumber:"",

                /* Afficher / Fermer la modal ViewTask */
                displayDetailTask: false,

                /* Tache selectionné */
                detailTask: [],
            };


        },
        mounted() {
            /* Détail du jour */
            this.dayName= this.moment(this.dateCase.date).format('ddd');
            this.dayNumber= this.moment(this.dateCase.date).format('D');
        },
        methods: {

            /** Méthode toggleViewDetailTask
             * Ouverture / fermeture de la modal ViewTask
             * @param bool toggle
             */
            toggleViewDetailTask(toggle){
                this.displayDetailTask = toggle;
            },

            /** Méthode viewDetailTask
             * Stockage de la atche selectionné
             * Ouverture la modal ViewTask
             * @param bool toggle
             */
            viewDetailTask(task){
                this.detailTask = task;
                this.toggleViewDetailTask(true);
            },
        }

    }
</script>

<style scoped>
.pointer{
    cursor:pointer;
}
</style>