<template>
    <v-card-text>
        <v-form lazy-validation ref="form" v-model="valid">
            <v-container grid-list-md>
                <v-layout wrap>

                    <!-- Nom -->
                    <v-flex xs12 md6>
                        <v-text-field
                                label="Nom"
                                v-model="detailTaskTmp.title"
                                :rules="[rules.required]"
                                clearable
                                hint="Par exemple, passer au pressing"
                        ></v-text-field>
                    </v-flex>

                    <!-- Categorie -->
                    <v-flex xs12 md6>
                        <v-select
                                @focus.native="selectAll"
                                name="category"
                                v-model="detailTaskTmp.categoryId"
                                label="Choisissez une catégorie"
                                item-text="category.name"
                                item-value="category.categoryId"
                                :items="categories.categories"
                                clearable
                                :rules="[rules.required]"
                        ></v-select>
                    </v-flex>

                    <!-- Date de début -->
                    <v-flex xs12 md6>
                        <v-menu
                                v-model="menuStartDate"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                        >
                            <template slot="activator">
                                <v-text-field
                                        :value="computedFormattedStartDate"
                                        label="Début"
                                        prepend-inner-icon="event"
                                        readonly
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                    v-model="detailTaskTmp.startDate"
                                    first-day-of-week="1"
                                    :no-title="true"
                                    locale="fr-fr"
                                    color="red"
                                    @input="menuStartDate = false"
                            ></v-date-picker>
                        </v-menu>
                    </v-flex>

                    <!-- Date de fin -->
                    <v-flex xs12 md6>
                        <v-menu
                                v-model="menuEndDate"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                        >
                            <template slot="activator">
                                <v-text-field
                                        :value="computedFormattedEndDate"
                                        label="Fin"
                                        prepend-inner-icon="event"
                                        readonly
                                        :rules="[dateRules.compareDate]"
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                    v-model="detailTaskTmp.endDate"
                                    :no-title="true"
                                    first-day-of-week="1"
                                    locale="fr-fr"
                                    color="red"
                                    @input="menuEndDate = false"
                            ></v-date-picker>
                        </v-menu>
                    </v-flex>

                    <!-- Description -->
                    <v-flex xs12 md6>
                        <v-textarea
                                v-model="detailTaskTmp.description"
                                name="taskDescription"
                                label="Description"
                                auto-grow
                                clearable
                                rows="2"
                        ></v-textarea>
                    </v-flex>

                    <!-- Priorité -->
                    <v-flex xs12 md6>
                        <v-layout column align-center>
                            <v-radio-group row v-model="detailTaskTmp.priority">
                                <v-radio
                                        v-for="n in 3"
                                        :key="n"
                                        :label="priorities[n-1]"
                                        :value="n"
                                        :color="prioritiesClasses[n-1]"
                                ></v-radio>
                            </v-radio-group>
                        </v-layout>
                    </v-flex>

                    <!-- Sous task -->
                    <v-flex xs12 md6>
                        <v-text-field
                                v-model="subtask"
                                append-outer-icon="add"
                                clearable
                                label="Sous-tâches"
                                type="text"
                                @click:append-outer="addSubtask"
                                @keyup.enter="addSubtask"
                                hint="Par exemple, récupérer chemises"
                        ></v-text-field>
                    </v-flex>

                    <!-- Liste sous taches  -->
                    <v-flex xs12 md6>
                        <v-list>
                            <v-list-tile :key="index" v-for="(sub, index) in detailTaskTmp.subtasks">
                                <v-list-tile-content>
                                    <v-list-tile-title v-html="sub.title"></v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-icon @click="deleteSubtask(sub)" right>close</v-icon>
                                </v-list-tile-action>
                            </v-list-tile>
                        </v-list>
                    </v-flex>

                    <!-- Barre de recherche des utilisateurs -->
                    <v-flex xs12 md6>
                        <v-autocomplete
                                v-model="user"
                                :loading="loading"
                                :items="itemsUser"
                                :search-input.sync="search"
                                item-text="fullName"
                                item-value="userId"
                                cache-items
                                flat
                                hide-no-data
                                hide-details
                                label="Partager avec d'autres utilisateurs"
                                @input="addUser"
                        ></v-autocomplete>
                    </v-flex>
                    <!-- Liste des utilisateurs dont la tâche est partagée -->
                    <v-flex xs12 md6>
                        <v-list>
                            <template v-for="user in usersList">
                            <span class="userChips">
                                {{ user.fullName }}
                                <i class="fas fa-times-circle" @click="deleteUser(user)" style="font-size:1em;"></i>
                            </span>
                            </template>
                        </v-list>
                    </v-flex>


                </v-layout>
            </v-container>
        </v-form>
        <!-- Bouton Annuler/Enregistrer  -->
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                    color="error"
                    flat
                    @click="$emit('cancel-edit')"
            >
                Annuler
            </v-btn>
            <v-btn
                    color="accent"
                    block
                    @click="save"
            >
                Enregistrer
            </v-btn>
        </v-card-actions>

    </v-card-text>
</template>

<script>
    import vueSlider from 'vue-slider-component';
    import moment from 'moment'

    export default {
        name: "EditTask",
        props: ['detailTask','categories'],
        components: {
            vueSlider,

        },
        data() {
            return {

                /* Tache selectionné avant modification */
                detailTaskTmp : JSON.parse(JSON.stringify(this.detailTask)),

                /* Sous tache */
                subtask : "",

                /* Vérifie la validité du formulaire */
                valid: true,

                /* Vérification 2nd click de suppression */
                viewDeleteTask: false,

                /* Paramètre dataPicker */
                menuStartDate: false,
                menuEndDate: false,

                /* Paramètre de bouton radio */
                priorities: ['haute', 'moyenne', 'basse'],
                prioritiesClasses: ['red', 'orange', 'green'],

                /* Règle de date */
                dateRules: {
                    compareDate: v => this.detailTaskTmp.endDate >= this.detailTaskTmp.startDate || 'La date de fin doit être après la date de début'
                },

                /* Règle des champs obligatoires */
                rules: {
                    required: value => !!value || "Obligatoire"
                },
                
                /* Info de l'utilisateur */
                tokenDecoded : null,

                /* SearchBar user */
                users: [],
                itemsUser: [],
                search:null,
                user: "",
                loading: false,
                usersList : [],
                deletedSubTasks: [],//subtaskId
            }
        },
        /* Reinitialise des donné dans la cas d'une annulation */
        beforeDestroy(){
            this.detailTaskTmp = JSON.parse(JSON.stringify(this.detailTask));
            this.subtask = "";
        },
        computed: {
            /* Changement du format de la date du début de la tache */
            computedFormattedStartDate() {
                return this.detailTaskTmp.startDate ? moment(this.detailTaskTmp.startDate).format('DD-MM-YYYY') : '';
            },

            /* Changement du format de la date du fin de la tache */
            computedFormattedEndDate() {
                return this.detailTaskTmp.endDate ? moment(this.detailTaskTmp.endDate).format('DD-MM-YYYY') : '';
            },
        },
        watch: {
            /* Mise a jour de barre de recher des utilisateurs */
            search (val) {
                val && val !== this.user && this.querySelections(val)
            }
        },
        mounted(){
            /* Récupération des informations des informations de l'utlisateur connecté */
            const tokenDecoded = this.parseJwt(this.$store.state.token)
            if (tokenDecoded) {
                this.tokenDecoded = tokenDecoded
            }
        },
        methods: {
            /** Methode addSubtask
             * Ajoute une sous tache au tableau de sous taches
             */
            addSubtask(){
                this.detailTaskTmp.subtasks.push({'title':this.subtask});
                this.subtask = "";
            },

            /** Méthode deleteSubtask
             * Suprrime la sous tache au tableau de sous taches
             * @param {*} sub
             */
            deleteSubtask(sub){
                this.deletedSubTasks.push(sub);
                let index = this.detailTaskTmp.subtasks.indexOf(sub);
                if (index > -1) {
                    this.detailTaskTmp.subtasks.splice(index, 1);
                }
            },

            /** Méthode save
             * enregistre les modifications de la tache
              */
            save(){
                let listUsersId = [];
                if(this.usersList.length !== 0){
                    this.usersList.forEach(user => {
                        listUsersId.push(user.userId);
                    });
                }
                // faire l'appel api
                window.axios.patch( //On update les taches
                    'tasks/'+this.detailTask.taskId,{
                        title: this.detailTaskTmp.title,
                        description: this.detailTaskTmp.description,
                        startDate: this.detailTaskTmp.startDate,
                        endDate: this.detailTaskTmp.endDate,
                        priority: this.detailTaskTmp.priority,
                        categoryId: this.detailTaskTmp.categoryId,
                        subtasks: this.detailTaskTmp.subtasks,
                        // usersId : listUsersId
                    }
                ).then((response) => { //Si tout marche

                    //On efface les subtaches qu'on a effacé
                    console.log('them:' + response.data);
                    let taskId = response.data.success;
                    if (this.deletedSubTasks[0] != null){
                      this.deletedSubTasks.forEach(subtask => {
                          window.axios.delete('subtasks/'+subtask.subtaskId);
                      });
                    }
                    //Et on ajoute les subtaches qu'on a ajouté
                    this.detailTaskTmp.subtasks.forEach(subtask => {
                        if (typeof subtask.subtaskId === 'undefined'){
                            window.axios.post(
                              'subtasks',{
                                title: subtask.title,
                                taskId: taskId
                              }
                            );
                        }
                    });

                    this.updateCategories();
                    this.updateTasks();
                    this.updateFuturTasks();
                    this.$emit('task-saved');
                    this.$store.commit('setError', false);

                    this.$store.commit('setSuccess', true);
                    this.$store.commit('setSuccessMsg', "La tâche est modifiée");



                }).catch((error) => {
                  this.$emit('error',error.response.data.message);
                })
            },

            /** Méthode getUsers
             * Selection une partie des utilisateur au dessus de 4 caractères
             * @param string user
             */
            getUsers(user){
                if(user.length == 4){
                    window.axios
                        .get('users/search?search='+user)
                        .then(response => {
                            let users = response.data.users;
                            this.$store.commit('setError', false);
                            users.forEach(user => {
                                if(user.userId != this.tokenDecoded.userId){
                                    this.users.push(user);
                                }
                            });
                        })
                        .catch(error => {
                            this.$emit('error',error.response.data.message);
                        })
                }
            },

            /** Méthode querySelections
             * Recherche dans la liste des utilisateurs
             * @param string v
             */
            querySelections (v) {
                this.loading = true

                this.getUsers(v);
                setTimeout(() => {
                    this.itemsUser = this.users;
                    this.loading = false
                }, 500)
            },

            /** Méthode addUser
             * Ajout un utilisateur dans le tableau d'utilisateurs
             */
            addUser(){
                this.users.forEach(user => {
                    if(user.userId == this.user){
                        this.usersList.push(user);
                    }
                });
                this.$nextTick(() => {
                    this.user = "";
                })
            },

            /** Méthode deleteUser
             * Supprime un utilisateur du tableau d'utilisateurs
             * @param {*} user
             */
            deleteUser(user){
                let index = this.usersList.indexOf(user);
                if (index > -1) {
                    this.usersList.splice(index, 1);
                }
            }

        }
    }
</script>

<style scoped>

</style>
