<template>
    <v-card>

        <!-- Header -->
        <v-toolbar
                :color="detailTask.category.color"
                dark
        >
            <!-- Nom de la tache -->
            <v-toolbar-title class="text-capitalize">{{ detailTask.title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-dialog
                    v-model="dialogConfirm"
                    width="500"
            >
            <!-- Bouton suppréssion de la tache -->
                <template slot="activator" v-if="editMode !== true">
                    <v-btn icon >
                        <i class="fas fa-trash-alt" style="font-size: 1.5em;"></i>
                    </v-btn>
                </template>
                <dialog-confirm  @close="dialogConfirm = false" @confirmDelete="deleteTask"/>
            </v-dialog>

            <!-- Bouton édition de la tache  -->
            <v-btn icon @click="editMode = true" v-if="editMode !== true">
                <i class="fas fa-pen" style="font-size: 1.5em;"></i>
            </v-btn>
            <v-btn icon @click="toggleDetailTask(false)" >
                <i class="fas fa-times" style="font-size: 1.5em;"></i>
            </v-btn>
        </v-toolbar>

        <!-- Main -->
        <v-card-text v-if="!editMode" >
            <v-container grid-list-md>
                <v-layout wrap class="text-lg-left">

                    <!-- Categorie -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs6 class="text-lg-left">
                                <h3>Catégorie </h3>
                            </v-flex>
                            <v-flex xs6 class="text-lg-left">
                                <span class="text">{{ detailTask.category.name }}</span>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Priorité -->
                    <v-flex xs12 md6 >
                        <v-layout>
                            <v-flex xs6 class="text-lg-left">
                                <h3>Priorité </h3>
                            </v-flex>
                            <v-flex xs6 class="text-lg-left" >
                                <template v-if="detailTask.priority == 1">
                                    <i class="fas fa-circle redCircle"/>
                                    <p>Haute</p>
                                </template>
                                <template v-if="detailTask.priority == 2">
                                    <i class="fas fa-circle orangeCircle"/>
                                    <p>Moyenne</p>
                                </template>
                                <template v-if="detailTask.priority == 3">
                                    <i class="fas fa-circle greenCircle"/>
                                    <p>Basse</p>
                                </template>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Date de début -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs6 class="text-lg-left">
                                <h3>Début </h3>
                            </v-flex>
                            <v-flex xs6 class="text-lg-left" >
                                <p>{{ computedFormattedStartDate }}</p>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Date de fin -->
                    <v-flex xs12 md6 >
                        <v-layout>
                            <v-flex xs6 >
                                <h3>Fin </h3>
                            </v-flex>
                            <v-flex xs6 >
                                <p>{{ computedFormattedEndDate }}</p>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Liste des sous taches -->
                    <v-flex xs12 md6 >
                        <v-layout>
                            <v-flex xs12>
                                <h3>Sous-Tâches </h3>
                            </v-flex>

                        </v-layout>
                        <v-flex xs12 >
                            <v-list v-if="detailTask.subtasks">
                                <v-list-tile @click="checkSubtask(sub)" :key="index" v-for="(sub, index) in detailTask.subtasks">
                                    <v-list-tile-action >
                                        <v-checkbox v-model="sub.check"></v-checkbox>
                                        <!--<v-icon  v-else @click.stop @click="checkSubtask(sub)">close</v-icon>-->
                                    </v-list-tile-action>
                                    <v-list-tile-content @click="sub.check = !sub.check">
                                        <v-list-tile-title v-html="sub.title"></v-list-tile-title>
                                    </v-list-tile-content>

                                </v-list-tile>
                            </v-list>

                        </v-flex>
                    </v-flex>

                    <!-- Description -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs6>
                                <h3>Description </h3>
                            </v-flex>
                            <v-flex xs6>
                                <p>{{ detailTask.description }}</p>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Progression -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs6 >
                                <h3> Progression </h3>
                            </v-flex>
                            <vue-slider v-model="progress.value" v-bind="progress" @click.stop @drag-end="editProgression" class="progressBar"></vue-slider>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>

        <EditTask v-else @cancel-edit="editMode = false" @task-saved="closeModal" @error="displayError" :categories="categories" :detailTask="detailTask"  />

    </v-card>
</template>
<script>
    import vueSlider from 'vue-slider-component';
    import EditTask from '@/components/Task/EditTask.vue';
    import DialogConfirm from '@/components/DialogConfirm.vue';
    import moment from 'moment';

    export default {
        name: "ViewTask",
        props: ['detailTask','categories'],
        components: {
            vueSlider,
            EditTask,
            DialogConfirm
        },
        data(){
            return {
                /* Confirmation 2nd click pour la suppression de la tache */
                dialogConfirm: false,
                
                /* Afficher / Fermer la modal édition */
                editMode: false,

                /* Paramètre de vue-slider */
                progress : {
                    value: this.detailTask.progression,
                    width: '60%',
                    tooltip: 'never',
                    disabled: false,
                    piecewise: true,
                    piecewiseLabel: true,


                    data: [
                        'Pas Fait',
                        'En cours',
                        'Fini',
                    ],
                    piecewiseStyle: {
                        backgroundColor: '#ccc',
                        visibility: 'visible',
                        width: '12px',
                        height: '12px',
                    },
                    piecewiseActiveStyle: {
                        backgroundColor: '#3498db',
                    },
                    labelActiveStyle: {
                        color: '#707070',
                    },
                    style: {
                        "marginBottom": "30px",
                    },
                    bgStyle: {
                        "backgroundColor": "#fff",
                        "boxShadow": "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)",
                    },
                    sliderStyle: [
                        {
                            "backgroundColor": "#fa548a",
                        },
                        {
                            "backgroundColor": "#57AA5B",
                        }
                    ],
                    processStyle: {
                        "backgroundImage": "-webkit-linear-gradient(left, #A5D6A7, #A5D6A7)",
                    }
                },
            }
        },
        computed: {
            /* Changement du format de la date du début de la tache */
            computedFormattedStartDate() {
                return this.detailTask.startDate ? moment(this.detailTask.startDate).format('DD-MM-YYYY') : '';
            },

            /* Changement du format de la date du fin de la tache */
            computedFormattedEndDate() {
                return this.detailTask.endDate ? moment(this.detailTask.endDate).format('DD-MM-YYYY') : '';
            },
        },
        methods: {

            /* Affichage des erreurs */
            displayError(error) {
                this.$store.commit('setError', true);
                this.$store.commit('setErrorMsg', error);
            },


            /** Méthode closeModal
             * Ferme la modal et réinitialise le formulaire
             */
            closeModal() {
                this.editMode = false;
                this.toggleDetailTask(false);
            },

            /** Methode toggleDetailTask
             * Affiche/ferme la modal EditTask
             * @param bool toggle
             */
            toggleDetailTask(toggle){
                this.$emit('toggleViewDetailTask',toggle);
            },

            /** Methode deleteTask
             * Suprimme la tache courante
             */
            deleteTask(){
                window.axios.delete('tasks/'+this.detailTask.taskId
                ).then((response) => {
                    this.$store.commit('setError', false);

                    this.updateTasks();
                    this.updateCategories();
                    this.toggleDetailTask(false);

                    this.$store.commit('setSuccess', true);
                    this.$store.commit('setSuccessMsg', "La tâche est supprimée");
                }).catch((error) => {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', error.response.data.message);
                })
            },

            /** Methode editProgression
             * Edition de la progression de la tache
             */
            editProgression(){
                window.axios.patch('tasks/'+this.detailTask.taskId, {
                    progression : this.progress.value,
                }).then((response) => {
                    this.$store.commit('setError', false);
                }).catch((error) => {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', error.response.data.message);
                })
            },

            /** Methode checkSubtask
             * Edition du status de la sous tache et de la progression de la tache
             */
            checkSubtask(sub){

                window.axios.patch('subtasks/'+sub.subtaskId, {
                    check : sub.check,
                }).then((response) => {
                    this.$store.commit('setError', false);
                }).catch((error) => {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', error.response.data.message);
                });

                let i = 0;
                this.detailTask.subtasks.forEach(sub => {
                    if(sub.check){
                        i++;
                    }
                });

                let oldProgress = this.progress.value;
                if(i === this.detailTask.subtasks.length){
                    this.progress.value = 'Fini';
                }
                else if(i === 0){
                    this.progress.value = 'Pas Fait';
                }
                else{
                    this.progress.value = 'En cours';
                }

                if(oldProgress !== this.progress.value){
                    this.editProgression();
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    .redCircle{
        color: #F44336;
    }
    .orangeCircle{
        color: #FFAB00;
    }
    .greenCircle{
        color: #64DD17;
    }
</style>
