<template>
    <div id="MonthCalendar" class="MainContent" :class="{monthWith6Lines : $store.state.monthWith6Lines }" >
        <h2 v-for="x in 7">
            {{$store.state.dayNameMini[x-1]}}
        </h2>
        <MonthCase v-for="dateCase in $store.state.daysList" :dateCase="dateCase" :tasks="tasks" :categories="categories"/>
    </div>
</template>

<script>
    import MonthCase from "./MonthCase";

    export default {
        name: "MonthView",
        props: ['tasks','categories'],
        components: {
            MonthCase
        }
    }
</script>

<style scoped lang="scss">

    #MonthCalendar{
        display: grid;
        grid-template-columns: repeat(7, 14.285%);
        grid-template-rows: 30px repeat(5, 2fr);
        height: 100%;

    }
    #MonthCalendar.monthWith6Lines {
        grid-template-rows: 30px repeat(6, 2fr);
    }

    @media screen and (max-width: 640px){
        h2{
            font-size: 1.2em;
        }
    }

</style>