<template>
    <div class="MonthCase" @click="" :class="{offCase : !dateCase.currentPeriod}">
        <span :class="{todayHighlight : dateCase.date.toDateString() === new Date().toDateString()}">{{this.moment(dateCase.date).format('D')}}</span>
        <div class="tasks">
            <div v-for="(task,index) in tasksForCase"
                 v-if="index < (maxTasksView)"
                 :class="getClass(task)"
                 @click="viewDetailTask(task)" >
                <template v-if="moment(dateCase.date).format('YYYY-MM-DD') == task.startDate || moment(dateCase.date).format('dddd') == 'lundi'" >

                    <template v-if="task.priority == 1">
                        <i class="fas fa-circle redCircle"></i>
                    </template>
                    <template v-if="task.priority == 2">
                        <i class="fas fa-circle orangeCircle"></i>
                    </template>
                    <template v-if="task.priority == 3">
                        <i class="fas fa-circle greenCircle"></i>
                    </template>
                    <span class="text-capitalize"> {{ task.title }}</span>
                </template>
            </div>
            <v-dialog v-model="dialogMoreTasks"
                      v-if="tasksForCase.length > maxTasksView "
                      width="200"
                      lazy
                      class="pos3" >
                <template slot="activator">
                    <div class="moreTasksLink" color="accent"  >
                        {{tasksForCase.length - maxTasksView }} de plus
                    </div>
                </template>
                <DialogMoreTasks :tasksForCase="tasksForCase" :categories="categories" :dateCase="dateCase" @closeDialogMoreTasks="dialogMoreTasks = false"/>
            </v-dialog>


        </div>
        <transition name="fade">
            <!-- Détail d'une tache -->
            <v-dialog v-model="displayDetailTask"  persistent max-width="60%" :fullscreen="$vuetify.breakpoint.smAndDown" lazy>
                <ViewTask v-if="displayDetailTask" :categories="categories" :detailTask="detailTask" @toggleViewDetailTask="toggleViewDetailTask"/>
            </v-dialog>
        </transition>
    </div>
</template>

<script>
    import ViewTask from '@/components/Task/ViewTask.vue';
    import DialogMoreTasks from '@/components/Task/DialogMoreTasks.vue';

    export default {
        name: "MonthCase",
        props: ['dateCase', 'tasks','categories'],
        components: {
            ViewTask,
            DialogMoreTasks
        },
        data() {
            return {
                currentDate : this.moment(this.dateCase.date).format("YYYY-MM-DD"),
                displayDetailTask: false,
                dialogMoreTasks: false, // si la modal pour les tâches supplémentaires est ouverte
                detailTask : [],
                maxTasksView : 3, // nb maximum de taches a afficher dans une case
                positions: [] // position des taches dans la case courante [taskId => position]
            }
        },
        computed: {
            tasksForCase() {
                let tabTmp = [];
                this.positions = [];

                if (Array.isArray(this.tasks.tasks)) {

                    let tasksOfDay = [];
                    this.tasks.tasks.forEach(task => {
                        if(task.category.toggle && this.moment(this.dateCase.date).isBetween(task.startDate, task.endDate, null, '[]')){
                            tasksOfDay.push(task)
                        }
                    });

                    let counter = 0; // compteur qui calcule position au sein du tableau
                    let positionsList = this.$store.state.positionsList; // reservation de positions
                    let toBeCommited = false; // commiter la liste de position oui/non

                    // on filtre les taches pour n'avoir que celles qui doivent apparaitre dans la case courante
                    tabTmp = tasksOfDay.filter(task => this.moment(this.dateCase.date).isBetween(task.startDate, task.endDate, null, '[]'));

                    // on tri les taches par date de début et par durée ,de la plus récente à la plus ancienne puis de la plus longue à la plus courte
                    tabTmp.sort(this.sortByStartAndDuration);
                    //on parcours les taches de la case pour trouver les positions a utiliser
                    tabTmp.forEach((task) => {

                        if (counter < this.maxTasksView) { // seules les X premieres nous interessent, les autres seront dans le lien +

                            if (task.startDate === task.endDate) { // cas simple, tache de 1 jours, pas de résa, on utilise le compteur
                                if (this.positions.length > 0) {
                                    // si il y a deja des places reservées
                                    // on verifie si on ne peut pas se mettre avant
                                    let minPos = this.getMinPosition(this.positions);
                                    if ( minPos < counter) {
                                        this.positions[task.taskId] = minPos;
                                    }
                                }

                            } else if (this.moment(this.dateCase.date).isSame(task.startDate)) { // la tache commence ce jour

                                while (positionsList.includes(counter)) { // si la place est reservée on passe à la suivante
                                    counter++;
                                }
                                // si on n'a pas dépassé la limite de taches affichées
                                if(counter < this.maxTasksView) {
                                    this.positions[task.taskId] = counter;

                                    // on met à jour les résa dans le store pour les cases suivantes
                                    positionsList[task.taskId] = counter;
                                    toBeCommited = true;
                                }

                            } else if (task.taskId in positionsList) { // si la tache avait une position reservée
                                // on l'utilise pour la case courante
                                this.positions[task.taskId] = positionsList[task.taskId];
                                counter = positionsList[task.taskId];
                                // si c'est le dernier jour de la tache on libere la réservation
                                if (this.moment(this.dateCase.date).isSame(task.startDate) ) {
                                    positionsList = positionsList.filter((el,ind) =>  ind === task.taskId);
                                    toBeCommited = true;
                                }
                            }
                            counter++;
                        }
                    });

                    if(toBeCommited === true) { // si la liste des résa a changée on la commit
                        this.$store.commit('setPositionsList',positionsList);
                    }
                }

                return tabTmp;
            }
        },
        methods: {
            sortByStartAndDuration(task1,task2){ // trie selon la durée
                const date1 = this.moment(task1.startDate);
                const date2 = this.moment(task2.startDate);

                if (date1.isAfter(date2)) return 1;
                if (date2.isAfter(date1)) return -1;

                const duration1 = this.moment(task1.startDate).diff(this.moment(task1.endDate));
                const duration2 = this.moment(task2.startDate).diff(this.moment(task2.endDate));
                if (duration1 > duration2) return 1;
                if (duration2 > duration1) return -1;
                return 0;
            },
            selectDay(event) {
                
            },
            getClass(task){
                let css = task.category.color;
                css += " text-truncate";
                if(this.moment(this.dateCase.date).format('dddd') === "dimanche" && this.moment(this.dateCase.date).format('YYYY-MM-DD') !== task.endDate){
                    css += " lastBorder";

                }
                if(this.moment(this.dateCase.date).format('dddd') === "lundi" && this.moment(this.dateCase.date).format('YYYY-MM-DD') !== task.startDate){
                    css += " firstBorder";

                }

                // on utilise la position calculée pour la tâche pour avoir la bonne classe (pos0, pos1,...)
                css += " pos" + this.positions[task.taskId];

                return css;
            },
            viewDetailTask(task){
                this.detailTask = task;
                this.toggleViewDetailTask(true);
            },
            toggleViewDetailTask(toggle){
                this.displayDetailTask = toggle;
            },
        },
    }
</script>

<style scoped lang="scss">
.MonthCase {
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgray;
}

.pos0{
    grid-row: 1;
}
.pos1{
    grid-row: 2;
}
.pos2{
    grid-row: 3;
}
.pos3{
    grid-row: 4;
}

.tasks{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    div{
        text-align: left;
        padding-left: 0.5em;
        margin: 0.1em 0;
        color: white;
        height: 1.6em;
        cursor: pointer;

    }
    .moreTasksLink {
        color: black;
        text-align: center;
        text-decoration: underline;
    }
}
@media print{
    .tasks{
        div{
            font-size: 1.2em;
            font-weight: bold;
        }
    }

}

@media screen and (max-width: 640px){
    .text-capitalize, .moreTasksLink{
        font-size: 0.8em;
    }
}

.lastBorder{
    border-radius: 0 1em 1em 0;
}
.firstBorder{
    border-radius: 1em 0 0 1em;
}

.purple{
    background: #A29BFE;
}
.blue{
    background: #64B5F6;
}
.cyan{
    background: #4DD0E1;
}
.green{
    background: #66BB6A;
}
.orange{
    background: #FFB74D;
}
.brown{
    background: #A1887F;
}

.redCircle{
    color: #F44336;
}
.orangeCircle{
    color: #FFAB00;
}
.greenCircle{
    color: #64DD17;
}

.myTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:50px
}
</style>
