<template>
    <div id="WeekCalendar" class="MainContent">
        <h2 v-for="x in 7">
            {{$store.state.dayNameMini[x-1]}}
        </h2>
        <WeekCase v-for="dateCase in $store.state.daysList" :dateCase="dateCase" :tasks="tasks" :categories="categories"/>
    </div>
</template>

<script>
    import WeekCase from "./WeekCase";
    export default {
        name: "WeekView",
        props: ['tasks','categories'],
        components: {
            WeekCase
        },
    }
</script>

<style scoped lang="scss">
    #WeekCalendar {
        display: grid;
        grid-template-columns: repeat(7, 14.285%);
        grid-template-rows: 30px auto;
        height: 100%;
    }
    @media screen and (max-width: 640px){
        h2{
            font-size: 1.2em;
        }
    }
</style>