<template>
    <div class="WeekCase" >
        <span :class="{todayHighlight : dateCase.date.toDateString() === new Date().toDateString()}">{{this.moment(dateCase.date).format('D')}}</span>
        <div class="tasks">

            <div v-for="task in tasksForCase"
                 v-if="task.category.toggle"
                 :class="getClass(task)"
                 @click="viewDetailTask(task)"
                 >
                <template v-if="moment(dateCase.date).format('YYYY-MM-DD') == task.startDate || moment(dateCase.date).format('dddd') == 'lundi'">
                    <template v-if="task.priority == 1">
                        <i class="fas fa-circle redCircle"></i>
                    </template>
                    <template v-if="task.priority == 2">
                        <i class="fas fa-circle orangeCircle"></i>
                    </template>
                    <template v-if="task.priority == 3">
                        <i class="fas fa-circle greenCircle"></i>
                    </template>
                    <span class="text-capitalize"> {{ task.title }}</span>
                </template>
            </div>
        </div>
        <transition name="fade">
            <!-- Détail d'une tache -->
            <v-dialog v-model="displayDetailTask"  persistent max-width="60%" :fullscreen="$vuetify.breakpoint.smAndDown" lazy>
                <ViewTask v-if="displayDetailTask" :categories="categories" :detailTask="detailTask" @toggleViewDetailTask="toggleViewDetailTask"/>
            </v-dialog>
        </transition>
    </div>
</template>

<script>
    import ViewTask from '@/components/Task/ViewTask.vue';

    export default {
        name: "WeekCase",
        props:['dateCase', 'tasks','categories'],
        components: {
            ViewTask
        },
        data() {
            return {
                currentDate : this.moment(this.dateCase.date).format("YYYY-MM-DD"),
                displayDetailTask: false,
                detailTask : [],
                positions: [],
            }
        },
        computed: {
            tasksForCase() {
                let tabTmp = [];
                this.positions = [];

                if (Array.isArray(this.tasks.tasks)) {
                    let counter = 0; // compteur qui calcule position au sein du tableau
                    let positionsList = this.$store.state.positionsList; // reservation de positions
                    let toBeCommited = false; // commiter la liste de position oui/non

                    // on filtre les taches pour n'avoir que celles qui doivent apparaitre dans la case courante
                    tabTmp = this.tasks.tasks.filter(task => this.moment(this.dateCase.date).isBetween(task.startDate, task.endDate, null, '[]'));

                    // on tri les taches par date de début et par durée ,de la plus récente à la plus ancienne puis de la plus longue à la plus courte
                    tabTmp.sort(this.sortByStartAndDuration);
                    //on parcours les taches de la case pour trouver les positions a utiliser
                    tabTmp.forEach((task) => {

                        if (task.startDate === task.endDate) { // cas simple, tache de 1 jours, pas de résa, on utilise le compteur
                            while (this.positions.includes(counter)) { // si la place est reservée on passe à la suivante
                                counter++;
                            }
                            this.positions[task.taskId] = counter;
                        } else if (this.moment(this.dateCase.date).isSame(task.startDate)) { // la tache commence ce jour

                            while (positionsList.includes(counter)) { // si la place est reservée on passe à la suivante
                                counter++;
                            }

                            this.positions[task.taskId] = counter;

                            // on met à jour les résa dans le store pour les cases suivantes
                            positionsList[task.taskId] = counter;
                            toBeCommited = true;

                        } else if (task.taskId in positionsList) { // si la tache avait une position reservée
                            // on l'utilise pour la case courante
                            this.positions[task.taskId] = positionsList[task.taskId];

                            // si c'est le dernier jour de la tache on libere la réservation
                            if (this.moment(this.dateCase.date).isSame(task.startDate)) {
                                positionsList = positionsList.filter((el, ind) => ind === task.taskId);
                                toBeCommited = true;
                            }
                        }
                        counter++;
                    });

                    if(toBeCommited === true) { // si la liste des résa a changée on la commit
                        this.$store.commit('setPositionsList',positionsList);
                    }
                }
                return tabTmp;
            }
        },
        methods: {
            selectDay(event) {

            },
            getClass(task){

                let css = task.category.color;
                css += " text-truncate";


                if(this.moment(this.dateCase.date).format('dddd') === "dimanche" && this.moment(this.dateCase.date).format('YYYY-MM-DD') !== task.endDate){
                    css += " lastBorder";
                }
                if(this.moment(this.dateCase.date).format('dddd') === "lundi" && this.moment(this.dateCase.date).format('YYYY-MM-DD') !== task.startDate){
                    css += " firstBorder";
                }

                css += " pos" + this.positions[task.taskId];

                return css;
            },
            viewDetailTask(task){
                    this.detailTask = task;
                    this.toggleViewDetailTask(true);

            },
            toggleViewDetailTask(toggle){
                this.displayDetailTask = toggle;
            },
            toggleViewDeleteTask(toggle){
                this.viewDeleteTask = toggle;
            },
        },
    }
</script>

<style scoped lang="scss">
.WeekCase {
    border-right: 1px solid lightgray;
}

@for $i from 0 to 25 {
    $numRow: $i + 1;
    .pos#{$i} {
        grid-row: $numRow;
    }
}
.tasks{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(25, 1fr);
    div{
        text-align: left;
        padding-left: 0.5em;
        margin: 0.1em 0;
        color: white;
        height: 1.4em;
        cursor: pointer;
    }
}

@media print{
    .tasks{
        div{
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.lastBorder{
    border-radius: 0 1em 1em 0;
}
.firstBorder{
    border-radius: 1em 0 0 1em;
}

.purple{
    background: #A29BFE;
}
.blue{
    background: #64B5F6;
}
.cyan{
    background: #4DD0E1;
}
.green{
    background: #66BB6A;
}
.orange{
    background: #FFB74D;
}
.brown{
    background: #A1887F;
}
.redCircle{
    color: #F44336;
}
.orangeCircle{
    color: #FFAB00;
}
.greenCircle{
    color: #64DD17;
}
</style>
