<template>
    <label class="file-select">
        <!-- Détail du fichier selectionné -->
        <div class="select-button">
            <span v-if="value">Select: {{value.name}}</span>
            <span v-else>Sélectionner le fichier </span>
        </div>
        
        <!-- Selection du fichier à importé -->
        <input type="file" @change="handleFileChange"/>
    </label>
</template>

<script>
    export default {
        props: {
            value: File
        },

        methods: {
            /* Renvoit de détail du fichier au parent */
            handleFileChange(e) {
                this.$emit('input', e.target.files[0])
            }
        }
    }
</script>

<style scoped>
    .file-select > .select-button {
        padding: 1rem;

        color: white;
        background-color: #2EA169;

        border-radius: .3rem;

        text-align: center;
        font-weight: bold;
    }

    .file-select > input[type="file"] {
        display: none;
    }
</style>
