<template>
    <div>
      <!-- Formualire de selection du fichier -->
        <v-alert
                :value="imported"
                type="success"
        >
            Importé avec succès
        </v-alert>
        <p>
            <file-select v-model="file"></file-select>
        </p>
        <p v-if="file">{{file.name}}</p>

        <!-- Bouton d'import -->
        <v-btn @click="importFile" class="primary" round v-if="file">Import</v-btn>
        <div id="fileContents">

        </div>
    </div>
</template>

<script>
  import icsToJson from 'ics-to-json'
  import FileSelect from './FileSelect.vue'

  export default {
    name: 'ViewImport',
    props:['imported'],
    components: {
      FileSelect
    },
    data () {
      return {

        /* Fichier selectionné */
        file: null,

        /* Fichier transformé en json */
        fileInJson: null,

        /* Liste des categories */
        categories: [],

        /* Savoir si le fichier est importé */
        importExists: false,

        /* Id de la la categorie à importé */
        categoryId: null,
      }
    },
    created () {
      this.getCategories()
    },
    methods: {

      /** Méthode getCategories
       * Récupère des des categories de l'utilisateur
        */
      getCategories () {
        window.axios.get('categories').then((response) => {
          this.categories = response.data.categories
          this.$store.commit('setError', false);
        }).then().catch((error) => {
          this.$store.commit('setError', true);
          this.$store.commit('setErrorMsg', error.response.data.message);
        })
      },

      /** Méthode importCreatingCategoryImport
       * Enregistrement des taches importé dans une nouvelle categorie
        */
      importCreatingCategoryImport () {
        console.log("test");
        //On cree la categorie d'import
        window.axios.post('categories', {
          name: 'Import',
          color: 'blue',
        }).then((response) => { //Apres si ça marche, on insert les données
          let categoryId = response.data.categoryId;
          this.$store.commit('setError', false);
          this.fileInJson.forEach(event => {
            window.axios.post('tasks', {
              title: event.summary,
              description: event.description,
              categoryId: categoryId,
              priority: 3,
              startDate: this.moment(event.startDate).format("YYYY-MM-DD"),
              endDate: this.moment(event.endDate).format("YYYY-MM-DD"),
              subtasks: []
            })
              .then(response => {
                this.$store.commit('setError', false);
                this.updateTasks();
                this.updateCategories();
                this.updateFuturTasks();
                this.file = null;
                this.$store.commit('setSuccess', true);
                this.$store.commit('setSuccessMsg', "Import effectué");
              })//C'est bon
              .catch((error) => {
                this.$store.commit('setError', true);
                this.$store.commit('setErrorMsg', error.response.data.message);
              })
          })
        }).catch((error) => {
          this.$store.commit('setError', true);
          this.$store.commit('setErrorMsg', error.response.data.message);
        })
      },

      /** Méthode importWithImportCategory
       * Enregistrement des taches importé dans une categorie présente
        */
      importWithImportCategory () {
        let success = false;
        //On cree la categorie d'import
        this.fileInJson.forEach(event => {
          window.axios.post('tasks', {
            title: event.summary,
            description: event.description,
            categoryId: this.categoryId,
            priority: 3,
            startDate: event.startDate,
            endDate: event.endDate,
            subtasks: []
          })
            .then(response => {
              this.updateTasks();
              this.updateCategories();
              this.updateFuturTasks();
              this.file = null;
              success = true;
            })
        })

        if(success){
          this.$store.commit('setSuccess', true);
          this.$store.commit('setSuccessMsg', "Import effectué");
        }
      },
      
      updateTasks () {
        this.$bus.$emit('updTasks')
      },
      updateCategories () {
        this.$bus.$emit('updCategories')
      },
      updateFutureTasks () {
        this.$bus.$emit('updFuturTasks')
      },

      /** Méthode importFile
       * Formate de fichier ics au format json
        */
      importFile () {
        this.getCategories();
        if (this.file) {
          let reader = new FileReader();
          reader.readAsText(this.file, 'UTF-8');
          let self = this;
          reader.onload = function (evt) { //Si tout passe bien
            //Change le fichier a format JSON avec la librerie icsToJSON
            self.fileInJson = icsToJson(evt.target.result);

            //Verifie s'il y a une Category "Import" déja
            for (var i = 0; i < self.categories.length; i++) {
              if (self.categories[i].category.name === 'Import') {
                self.importExists = true;
                self.categoryId = self.categories[i].category.categoryId;
                break
              }
            }

            if (self.importExists) {
              console.log('Il y a Import');
              self.importWithImportCategory();
            } else {
              console.log('Not Import');//
              self.importCreatingCategoryImport();
            }

          }
          reader.onerror = function (evt) { //Si non
            document.getElementById('fileContents').innerHTML = 'error reading file';
          }
        }
      },

    }
  }
</script>

<style scoped>

</style>
