<template>
  <div >
    <!-- Header mobile -->
      <v-navigation-drawer class="hidden-md-and-up"
        :clipped="drawer.clipped"
        :fixed="drawer.fixed"
        :permanent="drawer.permanent"
        :mini-variant="drawer.mini"
        v-model="drawer.open"
        app
      >
        <v-list>

          <!-- Bouton de connection -->
          <v-list-tile to="/signin">
            <v-list-tile-action><v-icon>person</v-icon></v-list-tile-action>
            <v-list-tile-content><v-list-tile-title>Se connecter</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>


          <v-divider></v-divider>

          <!-- Bouton d'inscription -->
          <v-list-tile to="/signup">
            <v-list-tile-action>
              <v-icon>person_add</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>S'inscrire</v-list-tile-title>
            </v-list-tile-content>

          </v-list-tile>
        </v-list>

      </v-navigation-drawer>
      <!-- Header pc -->
      <v-toolbar
        app
        color="primary"
        :fixed="toolbar.fixed"
        :clipped-left="toolbar.clippedLeft"
      >
        <v-toolbar-side-icon class="hidden-md-and-up"
          @click.stop="toggleDrawer"
        ></v-toolbar-side-icon>
        <!-- Nom de l'app -->
        <v-toolbar-title class="pacifico">MyWeek</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <!-- Bouton d'inscription -->
          <v-btn to="/signup" flat>S'inscrire</v-btn>
          <!-- Bouton de connection -->
          <v-btn to="/signin" flat>Se connecter</v-btn>
        </v-toolbar-items>
      </v-toolbar>

  </div></template>


<script>

    export default {
        name: 'HomeTopBar',
      data: () => ({

        /* Paramètres leftBar mobile */
        drawer: {
          // Met la barre de boutons ouverte
          open: true,
          // Soit les boutons sont en haut soit à gauche
          clipped: true,
          // Fixer le position
          fixed: false,
          // Laisser tout le tmeps visible ou non
          permanent: true,
          // Affichage en taille mini
          mini: true
        },

        /* Paramètres toolbar */
        toolbar: {
          // Fixer la position
          fixed: true,
          // Espace pour la toolbar ou non
          clippedLeft: true
        },
      }),
      mounted(){
        this.$store.commit('setLoading', false);
        if(this.memberConnected()){
          this.getCheckAccess()
        }
      },
      methods: {

        /** Méthode getCheckAccess
         * Vérifie si la personne est authentifiée ou non
          */
        getCheckAccess(){
          window.axios
            .get('checkaccess')
            .then(response => {
              this.$router.push("/calendar");
            })
            .catch(error => {

            })
        },

        /** Méthode makeDrawerPermanent
         * Change l'affichage de manière permanent
         */
        makeDrawerPermanent () {
          this.drawer.permanent = true
          this.drawer.clipped = false
          this.toolbar.clippedLeft = false
        },

        /** Méthode toggleMiniDrawer
         * Change la taille de la barre
         */
        toggleMiniDrawer () {
          this.drawer.mini = !this.drawer.mini
        },

        /** Méthode toggleDrawer
         * Change l'affichage
          */
        toggleDrawer () {
          if (this.drawer.permanent) {
            this.drawer.permanent = !this.drawer.permanent
            this.drawer.clipped = true
            this.toolbar.clippedLeft = true
          } else {
            // Affichage normal
            this.drawer.open = !this.drawer.open
          }
        }
      }
    }
</script>

<style lang="scss" scoped>
    .pacifico{
      font-family: 'Pacifico';
    }

</style>
