<template>
    <transition name="slide-fade">
        <aside id="leftBar" class="aside-menu" v-if="this.$store.state.toggleLeftAside">

            <!-- leftBar en mobile -->
            <v-menu class="hidden-md-and-up" left transition="slide-y-transition">
                <template slot="activator">
                    <v-btn class="white" flat small>
                        {{viewChoice}}
                        <i class="fas fa-caret-down v-icon--right"></i>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile :key="index" @click="chooseView(item)" v-for="(item, index) in options">
                        <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <!-- Liste des catégories -->
            <ListCategories :drawer="drawer" :categories="categories"/>
            
            <!-- Liste des futures taches -->
            <FuturTasks :tasks="tasks"/>
        </aside>
    </transition>
</template>

<script>
  import ListCategories from '@/components/Category/ListCategories.vue'
  import FuturTasks from '@/components/Task/FuturTasks.vue'

    export default {
        name: 'leftbar',
        props: ['categories','tasks','drawer'],
        components : {
            ListCategories,
            FuturTasks
        },
      data () {
        return {
          /* Options pour la liste de vue du calendrier version mobile */
          options: [
            { text: 'Mois', value: 'Month' },
            { text: 'Semaine', value: 'Week' },
            { text: 'Liste', value: 'List' }
          ],
          /* Vue actuel */
          viewChoice: this.$store.state.viewChoice,
        }
      },
      methods: {
        /** Méthode displayToday
         * Met la date du jour à updateReferenceDate()
          */
        displayToday () {
          this.updateReferenceDate(this.moment())
        },

        /** Méthode chooseView
         * Change la vue en mode mobile
          */
        chooseView (v) {
          this.viewChoice = v.text
          this.$store.commit('setViewChoice', v.value)
          this.updateReferenceDate(this.$store.state.referenceDatePeriod)

          this.updateTasks()
        },

      }
    }
</script>

<style lang="scss" scoped>
  #leftBar {
      grid-area: leftbar;
      height: auto;
      transition: all .3s ease;

      padding: .5em;
  }
  
  /* Transistion du toggle leftBar */
  .slide-fade-enter-active {
      transition: all .3s ease;
  }

  .slide-fade-leave-active {
      transition: all .5s ease;
  }

  .slide-fade-enter, .slide-fade-leave-to
  {
      transform: translateX(-500px);
      opacity: 0;
  }
</style>
