<template>
    <v-app id="app" v-if="applicationEstActive" data-app>
        <Error/>
        <Success/>
        <Loading/>
        <router-view/>
    </v-app>
</template>

<script>
    import Error from '@/components/Snackbar/Error.vue';
    import Success from '@/components/Snackbar/Success.vue';
    import Loading from '@/components/Snackbar/Loading.vue';

    export default {
        name: 'App',
        data () {
            return {
                applicationEstActive: false
            }
        },
        components: {
            Error,
            Success,
            Loading
        },
        mounted () {
            this.memberConnected();

            this.applicationEstActive = true;
            this.$store.commit('setReferenceDatePeriod', this.moment()); // initialisation de la date de reference a la date du jour
            this.$store.commit('setDisplayedPeriod', this.getDisplayePeriod()); // initialisation de l'affichage de la période
            this.$store.commit('setDaysList', this.getAllDaysInPeriod(this.moment()));
            this.$store.commit('setError', false);
            this.$store.commit('setErrorMsg', "");
            this.$store.commit('setSuccess', false);
            this.$store.commit('setSuccessMsg', "");
            this.$store.commit('setLoading', false);

            /*window.axios.get('ping').then((response) => {
                this.applicationEstActive = true
                console.log(response.data)
            }).catch((error) => {
                this.applicationEstActive = false
                alert("L'application n'est pas disponible")
            })*/
        },
        methods: {

        }

    }
</script>

<style lang="scss">

   *{
        padding:0;
        margin:0;
    }

   .page {
       height: 100vh;
   }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
    #nav {
        padding: 30px;
        a {
            font-weight: bold;
            color: #2c3e50;
            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
    .offCase {
        color:silver;
    }

    .todayHighlight {
        color:red;
    }
    .error{
        font-size: 2em;
        color: #96281b;
    }
    .success{
        font-size: 3em;
        color: #2ecc71;
    }
    .modal{
        width:100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top:0; left:0;
        background-color: rgba(0,0,0,0.7);
        z-index: 5;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
   .hooper-track {
       height: 100%;
    }
    .error--text{
        color:red;
        .v-messages__message {
            color:red;
        }
    }

    .userChips{
        display: inline-block;
        background: #e0e0e0;
        padding: 0.2em 0.5em 0.2em 1em;
        border-radius: 2em;
        margin: 0.5em;
    }
</style>
