<template>
    <v-card>
        <!-- Header -->
        <v-toolbar
                color="primary"
                dark
        >
            <v-toolbar-title >Profil</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="editMode = true" v-if="!editMode">
                <i class="fas fa-pen" style="font-size: 1.5em;"></i>
            </v-btn>
            <v-btn icon  @click="closeProfile" >
                <i class="fas fa-times" style="font-size: 2em;"></i>
            </v-btn>
        </v-toolbar>

        <!-- Main -->
        <v-card-text v-if="!editMode">
            <v-container grid-list-md>
                <v-layout wrap class="text-lg-left">

                    <!-- Prénom -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs4>
                                <h3>Prénom</h3>
                            </v-flex>
                            <v-flex xs8>
                                <span>{{prenom}}</span>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Nom -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs4>
                                <h3>Nom</h3>
                            </v-flex>
                            <v-flex xs8>
                                <span>{{nom}}</span>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Pseudo -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs4>
                                <h3>Pseudo</h3>
                            </v-flex>
                            <v-flex xs8>
                                <span>{{pseudo}}</span>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <!-- Email -->
                    <v-flex xs12 md6>
                        <v-layout>
                            <v-flex xs4>
                                <h3>Email</h3>
                            </v-flex>
                            <v-flex xs8>
                                <span>{{email}}</span>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>

        <!-- Edit profil -->
        <v-card-text v-else >
            <v-container>
                <v-layout wrap >

                    <!-- Prénom -->
                    <v-flex xs12>
                        <v-text-field
                                label="Prénom"
                                v-model="prenom"
                                :rules="[rules.required]"
                                clearable
                        >
                        </v-text-field>
                    </v-flex>

                    <!-- Nom -->
                    <v-flex xs12>
                        <v-text-field
                                label="Nom"
                                v-model="nom"
                                :rules="[rules.required]"
                                clearable
                        >
                        </v-text-field>
                    </v-flex>

                    <!-- Pseudo -->
                    <v-flex xs12>
                        <v-text-field
                                label="Pseudo"
                                v-model="pseudo"
                                :rules="[rules.required]"
                                clearable
                        >
                        </v-text-field>
                    </v-flex>

                    <!-- Email -->
                    <v-flex xs12>
                        <v-text-field
                                label="Email"
                                v-model="email"
                                :rules="[rules.required, emailRules.maskMatch]"
                                clearable
                        >
                        </v-text-field>
                    </v-flex>

                    <!-- Password -->
                    <v-flex xs12>
                        <v-text-field
                                label="Nouveau mot de passe"
                                v-model="password"
                                type="password"
                                :rules="[rules.required, passwordRules.min]"
                                clearable
                        >
                        </v-text-field>
                    </v-flex>

                    <!-- Verif Password -->
                    <v-flex xs12>
                        <v-text-field
                                label="Vérification mot de passe"
                                v-model="verifPassword"
                                type="password"
                                :rules="[rules.required,passwordRules.min, passwordVerifyRules]"
                                clearable
                        >
                        </v-text-field>
                    </v-flex>

                </v-layout>
            </v-container>

            <!-- Bouton Annuler / Enregistrer -->
            <v-card-actions v-if="editMode">
                <v-spacer></v-spacer>
                <v-btn
                        color="error"
                        flat
                        @click="editMode = false"
                >
                    Annuler
                </v-btn>
                <v-btn
                        color="success"
                        block
                        @click="modifyProfile"
                >
                    Enregistrer
                </v-btn>
            </v-card-actions>
        </v-card-text>

    </v-card>
</template>

<script>
    export default {
        name: "Profile",

        data() {
            return {

                /* Détail du profil */
                userId: '',
                prenom : '',
                nom: '',
                email:'',
                pseudo:'',
                password:'',
                verifPassword:'',

                /* Afficher / Fermer l'édition du profil */
                editMode: false,

                /* Règle des champs obligatoires */
                rules: {
                    required: value => !!value || "Obligatoire"

                },

                /* Règle du mot de passe */
                passwordRules: {

                    min: v => v.length >= 8 || 'Min 8 lettres',
                },

                /* Règle d'email */
                emailRules: {
                    maskMatch: value => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value) || "L'e-mail n'est pas valide"
                },
            }
        },
        computed: {

            /* Règle de date */
            passwordVerifyRules() {
                return () => (this.password === this.verifyPassword) || 'Les mots de passe ne correspondent pas';
            }
        },

        mounted() {

            /* Récupération du profil de l'utilisateur */
            const tokenDecoded = this.parseJwt(this.$store.state.token);
            if (tokenDecoded) {
                this.userId = tokenDecoded.userId;
                window.axios.get('profiles/' + this.userId, {

                }).then((response) => {
                    const profil = response.data.profil;
                    this.prenom = profil.firstName;
                    this.nom = profil.lastName;
                    this.pseudo = profil.username;
                    this.email = profil.email;
                    this.password = '';
                    this.verifPassword = '';

                    this.$store.commit('setError', false);
                }).catch((error) => {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', error.response.data.message);
                });
            }
        },

        methods : {

            /** Méthode closeProfile
             * Ferme l'édition du profil
             */
            closeProfile() {
                this.editMode = false;
                this.$emit('closeDialogProfil');

            },

            /** Méthode modifyProfile
             * Enregistre les modification du profil
              */
            modifyProfile() {
                if(this.password !== '' && this.password !== this.verifPassword) {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', 'La vérification du mot de passe a échoué, les mots de passes sont différents.');
                } else {

                    window.axios.patch('profiles/' + this.userId, {
                        firstName : this.prenom,
                        lastName : this.nom,
                        username : this.pseudo,
                        email : this.email,
                        password : this.password,
                        verifPassword: this.verifPassword

                    }).then((response) => {
                        this.$store.commit('setError', false);
                        this.$store.commit('setSuccess', true);
                        this.$store.commit('setSuccessMsg', "Vos modifications ont bien été enregistrées ");
                        this.editMode = false;
                        this.$store.commit('setToken',response.data.token);
                        this.setToken(response.data.token);

                    }).catch((error) => {
                        this.$store.commit('setError', true);
                        this.$store.commit('setErrorMsg', error.response.data.message);
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>
