<template>
  <div class="form">
    <!-- Formulaire d'inscription -->
    <v-form lazy-validation @submit.prevent="createAccount">
      <h1>S'inscrire</h1>

      <!-- Prénom -->
      <v-flex xs12 md12>
        <v-text-field v-model="prenom" type="text" label="Prénom" :rules="[rules.required ]"></v-text-field>
      </v-flex>

      <!-- Nom -->
      <v-flex xs12 md12>
        <v-text-field v-model="nom" type="text" label="Nom" :rules="[rules.required ]"></v-text-field>
      </v-flex>

      <!-- Pseudo -->
      <v-flex xs12 md12>
        <v-text-field v-model="pseudo" type="text" label="Pseudo" :rules="[rules.required ]"></v-text-field>
      </v-flex>

      <!-- Email -->
      <v-flex xs12 md12>
        <v-text-field
          v-model="email"
          :rules="[emailRules.maskMatch, rules.required ]"
          label="E-mail"
        ></v-text-field>
      </v-flex>

      <!-- Mot de passe -->
      <v-flex xs12 md12>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'visibility' : 'visibility_off'"
          :rules="[rules.required, passwordRules.min]"
          :type="showPassword ? 'text' : 'password'"
          name="password"
          label="Mot de passe"
          @click:append="showPassword = !showPassword"
        ></v-text-field>
      </v-flex>

      <!-- Vérif mot de passe -->
      <v-flex xs12 md12>
        <v-text-field
          v-model="verifyPassword"
          :append-icon="showVerifyPassword ? 'visibility' : 'visibility_off'"
          :rules="[rules.required, passwordRules.min, passwordVerifyRules  ]"
          :type="showVerifyPassword ? 'text' : 'password'"
          name="verifyPassword"
          label="Vérification du mot de passe"
          @click:append="showVerifyPassword = !showVerifyPassword"
        ></v-text-field>
      </v-flex>

      <!-- Bouton d'inscription -->
      <v-flex xs12 md12>
        <v-btn type="submit" medium block dark color="accent">Valider</v-btn>
      </v-flex>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "ViewSignup",
  data() {
    return {
      /* Données du formulaire */
      prenom: "",
      nom: "",
      pseudo: "",
      email: "",
      password: "",
      verifyPassword: "",

      /* Paramètres des champs de mot de passe */
      showPassword: false,
      showVerifyPassword: false,

      /* Règle des champs obligatoires */
      rules: {
        required: value => !!value || "Obligatoire"
      },

      /* Règle du mot de passe */
      passwordRules: {
        min: v => v.length >= 8 || "Min 8 lettres"
      },

      /* Règle de l'email */
      emailRules: {
        maskMatch: value =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
          "L'e-mail n'est pas valide"
      }
    };
  },
  computed: {
    /* Règle de la vérification de mot de passe */
    passwordVerifyRules() {
      return () =>
        this.password === this.verifyPassword ||
        "Les mots de passe ne correspondent pas";
    }
  },
  methods: {
    /** Méthode login
     * Connecte l'utilisateur
     */
    login() {
      window.axios
        .post(
          "login",
          {},
          {
            auth: {
              username: this.email,
              password: this.password
            }
          }
        )
        .then(response => {
          this.$store.commit("setToken", response.data.token);
          this.setToken(response.data.token);
          this.$store.commit("setError", false);

          this.$store.commit("setSuccess", true);
          this.$store.commit("setSuccessMsg", "Bonjour !");
          setTimeout(() => {
            this.$router.push("/calendar");
          }, 1000);
        })
        .catch(error => {
          this.$store.commit("setError", true);
          this.$store.commit("setErrorMsg", error.response.data.message);
        });
    },

    /** Méthode createAccount
     * Créer un nouveau compte
     */
    createAccount() {
      if (this.password === this.verifyPassword) {
        window.axios
          .post("signup", {
            firstName: this.prenom,
            lastName: this.nom,
            username: this.pseudo,
            email: this.email,
            password: this.password,
            verifPassword: this.verifyPassword
          })
          .then(response => {
            this.$store.commit("setError", false);

            setTimeout(() => {
              this.login();
            }, 1000);
          })
          .catch(error => {
            console.log(error);
            this.$store.commit("setError", true);
            this.$store.commit("setErrorMsg", error.response.data.message);
          });
      } else {
        this.$store.commit("setError", true);
        this.$store.commit(
          "setErrorMsg",
          "Le mot de passe doit être identique"
        );
      }
    }
  }
};
</script>

<style scoped lang="scss">
.form {
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 50%;
  margin: auto;
  form {
    padding: 0 2em 2em 2em;
    display: grid;
    grid-auto-columns: 1fr;
    label {
      padding: 1em;
      justify-self: start;
    }
    .btSucces {
      margin-top: 1em;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .form {
    width: 80%;
  }
}
</style>
