<template>
    <div class="form" >
        <!-- Formulaire de connection -->
        <v-form lazy-validation @submit.prevent="login">
            <h1>Se connecter</h1>

            <!-- Email -->
            <v-flex xs12 md12>
                <v-text-field v-model="email"
                              :rules="[rules.required, emailRules.maskMatch ]"
                              label="E-mail">
                </v-text-field>
            </v-flex>
            
            <!-- Mot de passe -->
            <v-flex xs12 md12>
                <v-text-field
                        v-model="password"
                        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                        :rules="[rules.required]"
                        :type="showPassword ? 'text' : 'password'"
                        name="password"
                        label="Mot de passe"
                        required
                        @click:append="showPassword = !showPassword">
                </v-text-field>
            </v-flex>

            <!-- Bouton de validation -->
            <v-flex xs12 md12>
                <v-btn type="submit" medium block dark color="accent" >Valider</v-btn>
            </v-flex>

        </v-form>

    </div>
</template>

<script>
    export default {
        name: "ViewSignin",
        data(){
            return {
                email : "",
                password : "",
                showPassword: false,

                /* Règle de champs obligatoires */
                rules: {
                    required: value => !!value || "Obligatoire"

                },

                /* Règle pour l'email */
                emailRules: {
                    maskMatch: value => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value) || "L'e-mail n'est pas valide"
                },

            }
        },

        methods: {

            /** Méthode login
             * Connecte l'utilisateur
              */
            login(){
                window.axios.post('login', {}, {
                    auth: {
                        username : this.email,
                        password : this.password,
                    }
                }).then((response) => {
                    this.$store.commit('setToken',response.data.token);
                    this.setToken(response.data.token);
                    this.$store.commit('setError', false);

                    this.$store.commit('setSuccess', true);
                    this.$store.commit('setSuccessMsg', "Bonjour !");
                    setTimeout(() => {
                        this.$router.push("/calendar");
                    },1000)
                }).catch((error) => {
                    this.$store.commit('setError', true);
                    this.$store.commit('setErrorMsg', error.response.data.message);
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped lang="scss">
    .form{
        background: white;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        border-radius: 2px;
        width: 50%;
        margin: auto;
        form{
            padding: 0 2em 2em 2em;
            display: grid;
            grid-auto-columns: 1fr;
            label{
                padding: 1em;
                justify-self: start;
            }
            .btSucces{
                margin-top: 1em;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 640px){
        .form{
            width: 80%;
        }
    }
</style>
