<template>
  <!-- Modal de chargement -->
    <v-dialog
      v-model="$store.state.loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Veuillez patienter
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
</template>
<script>
export default {
    name: 'Loading',
}
</script>
<style lang="scss" scoped>
span{
  font-size: 1.2em;
  color:white;
}
</style>

