<template>
    <v-card>

        <!-- Modal de confirmation de supression -->
        <v-card-title
                class="headline grey lighten-2"
                primary-title
        >
              Confirmation
        </v-card-title>

        <v-card-text>
            <h3>Voulez-vous supprimer ?</h3>
            {{msg}}
        </v-card-text>

        <v-divider></v-divider>

        <!-- Bouton Annuler/OK -->
        <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                    @click="cancel"
                    color="error"
                    flat
                    small
            >
                Annuler
            </v-btn>
            <v-btn
                    @click="confirm"
                    color="success"
                    flat
                    small
            >
                OK
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
  export default {
    name: 'DialogConfirm',
    props: ['confirmDelete', 'msg'],
    methods: {

      /* Renvoit au parent la confirmation de la suppression */
      confirm () {
        this.$emit('confirmDelete')
        this.$emit('close')
      },

      /* Renvoit au parent l'annulation de la suppression */
      cancel () {
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>

</style>
