<template>
  <main :class="{ fullScreen: !drawer.open }">
    <!-- Affichage du calendrier au mois -->
    <MonthView v-if="$store.state.viewChoice === 'Month'" :tasks="tasks" :categories="categories"/>
    <!-- Affichage du calendrier à la semaine -->
    <WeekView v-if="$store.state.viewChoice === 'Week'" :tasks="tasks" :categories="categories"/>
    <!-- Affichage des taches en list -->
    <ListView v-if="$store.state.viewChoice === 'List'" :tasks="tasks" :categories="categories"/>

    <!-- Bouton d'ajout d'une tache -->
    <v-dialog v-model="dialog" persistent max-width="60%" :fullscreen="$vuetify.breakpoint.smAndDown" lazy>
      <template slot="activator">
        <v-btn class="addButton" color="accent" dark bottom fixed right fab>
          <i class="fas fa-plus"></i>
        </v-btn>
      </template>
      <AddTask @close="dialog = false" :categories="categories"/>
    </v-dialog>
  </main>
</template>

<script>
import MonthView from "./Calendar/MonthView";
import WeekView from "./Calendar/WeekView";
import ListView from "./ListView";
import AddTask from "@/components/Task/AddTask";

export default {
  name: "MainContent",
  components: {
    MonthView,
    WeekView,
    ListView,
    AddTask
  },
  props: ["tasks", "categories","drawer"],
  data() {
    return {
      /* Afficher / Ferme la modal d'ajout d'une tache */
      viewAddTask: false,
      dialog: false
    };
  },
  methods: {

    /* Afficher / Ferme la modal d'ajout d'une tache */
    toggleAddTask(toggle) {
      this.viewAddTask = toggle;
    }
  }
};
</script>

<style lang="scss" scoped>
main {
  grid-area: main;
}
main.fullScreen {
  grid-column: span 2;
}
@media print {
  .addButton {
    display: none;
  }
}
</style>
